extends base

block scripts
	script.
		function mostrarFormularioNuevaPelicula(){
			var xmlobj = new XMLHttpRequest();											
			xmlobj.onreadystatechange = function(){			
				if(xmlobj.readyState==4){ //ya termino de cargar proceso 
					if(xmlobj.status==200){ //se cargo bien similar a 404 error 200 = exito											
						bootbox.alert(xmlobj.responseText);
					}else{
						bootbox.alert("Imposible cargar Formulario:\n" + xmlobj.responseText);
						//caca.innerHTML=xmlobj.responseText;
					}
				}
			};			
			var path = '/pelicula/formularioNuevaPelicula' ;
			xmlobj.open('GET', path ,true);
			//xmlobj.open('GET', '/',true);
			xmlobj.setRequestHeader('Content-type','application/x-www-form-urlencoded');
			xmlobj.send();	
		}
		
		function mostrarFormularioAlquilarPelicula(peliId){
			var xmlobj = new XMLHttpRequest();											
			xmlobj.onreadystatechange = function(){			
				if(xmlobj.readyState==4){ //ya termino de cargar proceso 
					if(xmlobj.status==200){ //se cargo bien similar a 404 error 200 = exito											
						bootbox.alert(xmlobj.responseText);
					}else{
						bootbox.alert("Imposible cargar Formulario:\n" + xmlobj.responseText);
						//caca.innerHTML=xmlobj.responseText;
					}
				}
			};			
			var path = '/pelicula/formularioAlquilarPelicula/' + peliId ;
			xmlobj.open('GET', path ,true);
			//xmlobj.open('GET', '/',true);
			xmlobj.setRequestHeader('Content-type','application/x-www-form-urlencoded');
			xmlobj.send();	
		}

		function mostrarBorrarPelicula(peliId){
			bootbox.confirm("Desea borrar la pelicula: " + peliId , function(result) {
				if(result) {
					var xmlobj = new XMLHttpRequest();											
					xmlobj.onreadystatechange = function(){			
						if(xmlobj.readyState==4){ //ya termino de cargar proceso 
							if(xmlobj.status==200){ //se cargo bien similar a 404 error 200 = exito	
								bootbox.alert(xmlobj.responseText);
							}else{
								bootbox.alert("Error:\n" + xmlobj.responseText);
							}
						}
					};			
					var path = '/pelicula/' + peliId  ;
					xmlobj.open('DELETE', path ,true);
					//xmlobj.open('GET', '/',true);
					xmlobj.setRequestHeader('Content-type','application/x-www-form-urlencoded');
					xmlobj.send();	
				}
			});
		}

		function mostrarRemoverAlquilerPelicula(peliId){
			bootbox.confirm("La pelicula " + peliId  + " ha sido devuleta" , function(result) {
				if(result) {
					var xmlobj = new XMLHttpRequest();											
					xmlobj.onreadystatechange = function(){			
						if(xmlobj.readyState==4){ //ya termino de cargar proceso 
							if(xmlobj.status==200){ //se cargo bien similar a 404 error 200 = exito	
								bootbox.alert(xmlobj.responseText);
							}else{
								bootbox.alert("Error:\n" + xmlobj.responseText);
							}
						}
					};			
					var path = '/pelicula/' + peliId + '/quitarAlquiler' ;
					xmlobj.open('GET', path ,true);
					xmlobj.setRequestHeader('Content-type','application/x-www-form-urlencoded');
					xmlobj.send();	
				}
			});
		}

block body

	br
	br
	br
	br
	div.container
		h1 Películas
		br
		div.btn-group.btn-group-justified
			div.btn-group
				input.btn.btn-primary(type='button',value='Nueva Película',onClick='mostrarFormularioNuevaPelicula();')
			div.btn-group
				button.btn.btn-primary(data-toggle="collapse" data-target="#divPelis") Películas
		div(id='divPelis', class='collapse')
			ul.list-group
				each peli in peliculas
					li.list-group-item 
						h3 Titulo: !{peli.titulo}
						p Año: !{peli.año}
						p Director: !{peli.director}
						p Actores: !{peli.actores}
						p Lenguaje de origen: !{peli.lenguajeOrigen}
						p Lenguajes disponibles: !{peli.lenguajeDisponible}
						p Genero cinematográfico: !{peli.generoCinematografico}
						p Duracion: !{peli.duracion}
						p Portador: 
							if peli.socioPortador.socioId
								| Alquilada a !{peli.socioPortador}							
							else
								| Disponible

						div.btn-group
							if peli.socioPortador.socioId
								input.btn.btn-default(
									type='button',
									value='Remover Alquiler',
									onClick='mostrarRemoverAlquilerPelicula("#{peli._id}");'
								)
							else
								input.btn.btn-default(
									type='button',
									value='Alquilar',
									onClick='mostrarFormularioAlquilarPelicula("#{peli._id}");'
								)
							input.btn.btn-danger(
								type='button',
								value='Borrar',
								onClick='mostrarBorrarPelicula("#{peli._id}");'
							)



block final
	script(src='/javascripts/bootbox.min.js')